# Node dependencies
node_modules/

# Build outputs
dist/
build/

# Worker runtime folder
worker/workdir/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Docker
*.pid
docker-compose.override.yml

# TypeScript cache
*.tsbuildinfo

# Ignore local minikube images
*.tar
