apiVersion: batch/v1
kind: Job
metadata:
  name: worker
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: worker
          image: simran/cloudopsdeploy-worker:latest
          imagePullPolicy: Never
