name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # Install Dependencies for all services
      - name: Install Dependencies
        run: |
          cd backend
          npm install
          cd ../frontend
          npm install
          cd ../worker
          npm install

      # Build each service
      - name: Build Backend
        run: |
          cd backend
          npm run build

      - name: Build Frontend
        run: |
          cd frontend
          npm run build

      - name: Build Worker
        run: |
          cd worker
          npm run build

