name: Build and Push Docker Images

on:
  push:
    branches: ["main"]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend
        run: |
          docker build -t simrananand05/cloudops-backend:latest ./backend
          docker push simrananand05/cloudops-backend:latest

      - name: Build & Push Frontend
        run: |
          docker build -t simrananand05/cloudops-frontend:latest ./frontend
          docker push simrananand05/cloudops-frontend:latest

      - name: Build & Push Worker
        run: |
          docker build -t simrananand05/cloudops-worker:latest ./worker
          docker push simrananand05/cloudops-worker:latest
