name: Kubernetes Auto Deploy

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Validate Kubernetes manifests
        run: |
          echo "Kubernetes files:"
          ls infra/k8s
          echo "Validation successful"

